body {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top:2%;
}
table *{
    text-align: left;
}
.date{
    font-style:italic;
    padding-right: 5px;
}
p {
    padding-bottom: 10px;
}
img {
    width: 25%;
    display: block;
}
.code {
    background-color: rgb(230, 230, 230);
    padding: 15px;
}
.footnote{
    font-style: italic;
    color:gray;
}
.edit{
    font-style: italic;
    color:gray;
}